numpy>=2.2.2
pandas>=2.2.3
mcap>=1.2.2
mcap-ros2-support>=0.5.5
streamlit>=1.41.1
PyYAML>=6.0.2
tinydb>=4.8.2
click>=8.1.8
tqdm>=4.67.1
pre_commit>=4.1.0
pytest>=8.3.4
plotly>=6.0.0
opencv-python>=4.11.0.86
perfect>=0.0.1
